<!-- COMPONENT: ERROR 500 -->
<div ng-controller="Error500Controller as vm">
    <div class="error-container">
        <div class="error-code">500</div>
        <div class="error-text">internal server error</div>
        <div class="error-subtext">We are afflicted by some <strong>internal troubles</strong>. Try again later.</div>
    </div>
</div>
<!-- END COMPONENT: ERROR 500 -->
