<!-- START: GRIDS -->
<div ng-controller="GridsController as vm">
    <ul class="breadcrumb">
        <li><a ng-href="#/home">Home</a></li>
        <li class="active"><a ng-href="#/grids">Grids</a></li>
    </ul>
    <div class="page-title">
        <h2><span class="fa fa-codepen"></span> Grids <small>{{vm.buffer.length}} running</small></h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="searchForm" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Who are you looking for?"
                                        ng-model="vm.query"
                                        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"
                                            ng-disabled="!vm.query || vm.loading"
                                            ng-click="vm.search(vm.query)">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-success btn-block" data-toggle="modal" data-target="#modal-create-grid"
                                    ng-if="globals.user.role == vm.ROLES.EXPERT"><span class="fa fa-plus"></span> Add grid</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading grids ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">
                    <p ng-switch-when="true" ng-if="vm.grids.length == 0">No grids yet.</p>
                    <div ng-switch-when="true">
                        <div class="panel panel-default">
                            <div class="block-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="11%">
                                                <div class="th">Grid name</div>
                                            </th>
                                            <th width="9%">
                                                <div class="th">
                                                    Progress
                                                </div>
                                            </th>
                                            <th width="50%">
                                                <div class="th">
                                                    Description
                                                </div>
                                            </th>
                                            <th width="15%">
                                                <div class="th">
                                                    Creation
                                                </div>
                                            </th>
                                            <th width="15%">
                                                <div class="th">
                                                    Last Update
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="grid in vm.grids | filter:vm.query | orderBy:vm.orderBy track by grid.id">
                                            <td>
                                                <a ng-href="#/grids/{{grid.id}}"><h3 class="text-danger">{{grid.name}}</h3></a>
                                            </td>
                                            <td>
                                                <round-progress
                                                    max="100"
                                                    current="grid.progress"
                                                    color="#81C784"
                                                    bgcolor="#eaeaea"
                                                    radius="20"
                                                    stroke="5"
                                                    semi="false"
                                                    rounded="true"
                                                    clockwise="true"
                                                    responsive="true"
                                                    duration="2000"
                                                    animation="easeInOutQuart"
                                                    animation-delay="0">
                                                </round-progress>
                                            </td>
                                            <td><h6 class="text-justify">{{grid.description}}</h5></td>
                                            <td><h6 class="text-justify">{{grid.ts_create | dateFormat: 'normal'}}</h6></td>
                                            <td><h6 class="text-justify">{{grid.ts_update | dateFormat: 'normal'}}</h6></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--<ul>
                            <li ng-repeat="grid in vm.grids | filter:vm.query | orderBy:vm.orderBy track by grid.id">
                                <a ng-href="#/grids/{{grid.id}}">{{grid.name}}</a>
                                <ul>
                                    <li ng-repeat="(key, value) in grid">{{key}} = {{value}}</li>
                                </ul>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-lg-1 col-centered">
                                <button type="button" class="btn btn-default" ng-show="vm.idx < vm.buffer.length" ng-click="vm.loadMore()">Load More</button>
                            </div>
                        </div>
                    </div>-->
                    <p ng-switch-when="false">Ooops! Something went wrong :-({{vm.errmsg}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- START: MODAL CREATE GRID -->
<div ng-include="'dist/views/grid/create-grid.modal.view.html'"></div>
<!-- END: MODAL CREATE GRID -->
<!-- END: GRIDS -->
