<!-- START: GRID -->
<div ng-controller="GridController as vm">
    <ul class="breadcrumb">
        <li><a ng-href="#/home">Home</a></li>
        <li><a ng-href="#/grids">Grids</a></li>
        <li class="active"><a ng-href="#/grids/{{vm.currGrid.id}}">Grid</a></li>
    </ul>
    <div class="page-title">
        <h2><span class="fa fa-codepen"></span> Grid <small ng-show="!vm.loading && vm.success">{{vm.currGrid.name}}</small></h2>
    </div>
    <div class="page-content-wrap">
        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading grid {{vm.currGrid.id}} ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">
                    <!-- START PANEL  -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title-box">
                                            <h3>GQM Node details: </h3>
                                        </div>
                                    </div>
                                    <!-- START HORIZONTAL FORM SAMPLE -->
                                    <div class="block">
                                        <form class="form-horizontal" role="form">
                                                <h5><span class="fa fa-caret-down"></span> Node type:</h5>
                                                <p class="col-md-12">{{node_type}}</p>
                                                <h5><span class="fa fa-caret-down"></span> Node Id:</h5>
                                                <div ng-switch="node_type">
                                                <p ng-switch-when="Organizational Goal" class="col-md-12">{{node_id}}</p>
                                                <a ng-switch-when="Measurement Goal" class="col-md-12" ng-href="#/measurementgoal/{{node_id}}">
                                                {{node_id}}</a>
                                                <a ng-switch-when="Metric" class="col-md-12" ng-href="#/metrics/{{node_id}}">
                                                {{node_id}}</a>
                                                <a ng-switch-when="Question" class="col-md-12" ng-href="#/questions/{{node_id}}">
                                                {{node_id}}</a>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                                
                                <div ng-switch="node_type">
                                <button class="btn btn-warning btn-lg btn-block" role="button" ng-click="center()"><i class="fa fa-edit"></i> Center Graph </button>

                                <button class="btn btn-success btn-lg btn-block" role="button" ng-click="vm.layout = {name: 'circle'}"><i class="fa fa-edit"></i> Circle Graph </button>

                                <button class="btn btn-primary btn-lg btn-block" role="button" ng-click="vm.layout = {name: 'breadthfirst'}"><i class="fa fa-edit"></i> Liner Graph </button>

                                <button class="btn btn-info btn-lg btn-block" role="button"
                                    ng-if="globals.user.username == vm.currGrid.expert.username"
                                    data-toggle="modal" data-target="#modal-team"><i class="fa fa-group"></i> View Team</button>
                                
                                <button class="btn btn-danger btn-lg btn-block" role="button"
                                    ng-if="globals.user.username == vm.currGrid.expert.username"
                                    ng-switch-when="Organizational Goal"
                                    data-toggle="modal" data-target="#modal-assignmgs"><i class="fa fa-edit"></i> Assign Measurement Goal</button>
                                </div>
                                
                                <br>
                                <br>
                            </div>
                            
                            <div class="col-md-9">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title-box">
                                            <h3>GQM Graph </h3>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <cytoscape 
                                            id = "core"
                                            graph-options="vm.options" 
                                            graph-elements="vm.elements" 
                                            graph-layout="vm.layout" 
                                            graph-style="vm.style">
                                        </cytoscape>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <p ng-switch-when="false">Ooops! Something went wrong :-( {{vm.errmsg}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="page-content-wrap">
        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading grid {{vm.currGrid.id}} ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">
                    
                    <a type="button" role="button" class="btn btn-default"
                    data-toggle="modal" data-target="#modal-update-grid"
                    ng-switch-when="true"
                    ng-if="globals.user.username == vm.currGrid.expert.username">Edit</a>
                    
                    <a type="button" role="button" class="btn btn-default"
                    ng-switch-when="true"
                    ng-if="globals.user.username == vm.currGrid.expert.username"
                    ng-href="#/teams/{{vm.currGrid.id}}">Manage Team</a>
                    
                    <a type="button" role="button" class="btn btn-default" ng-switch-when="true" ng-href="#/grids/{{vm.currGrid.id}}/analytics">View Analytics</a>
                    <ul ng-switch-when="true">
                        <li ng-repeat="(key, value) in vm.currGrid">{{key}} = {{value}}</li>
                    </ul>
                    <p ng-switch-when="false">Ooops! Something went wrong :-( {{vm.errmsg}}</p>
                </div>
            </div>
        </div>
    </div>-->
    
    <!-- START: MODAL UPDATE GRID -->
    <div ng-include="'dist/views/grid/update-grid.modal.view.html'"></div>
    <!-- END: MODAL UPDATE GRID -->
    <!-- START MODAL: TEAM -->
    <div ng-include="'dist/views/grid/view-team.dialog.view.html'"></div>
    <!-- END MODAL: TEAM -->
    <!-- START MODAL: ASSIGN MGS -->
    <div ng-include="'dist/views/grid/assignmgs.dialog.view.html'"></div>
    <!-- END MODAL: ASSIGN MGS -->
</div>
<!-- END: GRID -->
