<div class="row">
    <div class="col-md-6 pull-left">
        <!--<ul>
            <li>-->
            <br>
        <div class="row">
                <!--BEGIN MEASUREMENT GOAL-->
                <div ng-include="'dist/views/metricator/tab/tab.measurementgoal.view.html'"></div>
                <!--END MEASUREMENT GOAL-->
            <!--</li>-->
        </div>
        <br>
        <div class="row">
        <!--    <li>-->
                <!--BEGIN METRIC-->
                <div ng-include="'dist/views/metricator/tab/tab.metric.view.html'"></div>
                <!--END METRIC-->
        <!--    </li>-->
        </div>
        <br>
        <div class="row">   
        <!--    <li>-->
                <!--BEGIN QUESTION-->
                <div ng-include="'dist/views/metricator/tab/tab.question.view.html'"></div>
        <!--END QUESTION-->
        <!--    </li>-->
        </div>
        <br>
        <div class="row"> 
        <!--   <li>-->
                <!--BEGIN CONTEXT FACTOR-->
                <div ng-include="'dist/views/metricator/tab/tab.contextfactor.view.html'"></div>
                <!--END CONTEXT FACTOR-->
        </div>
        <!--    </li>-->
        <br>
        <div class="row">
        <!--    <li>-->
                <!--BEGIN ASSUMPTION-->
                <div ng-include="'dist/views/metricator/tab/tab.assumption.view.html'"></div>
                <!--END ASSUMPTION-->
        <!--    </li>-->
        </div>
        <!--</ul>-->
    </div>
    <div class="col-md-6 pull-right">
        <!--<ul>-->
        <!--    <li>-->
        <br>
        <div class="row">
                <!--BEGIN INSTANCE PROJECT-->
                <div ng-include="'dist/views/metricator/tab/tab.instanceproject.view.html'"></div>
                <!--END PROJECT INSTANCE-->
        <!--    </li>-->
        </div>
        <br>
        <!--    <li>-->
        <div class="row">
                <!--BEGIN ORGANIZATIONAL GOAL-->
                <div ng-include="'dist/views/metricator/tab/tab.wrapper.organizationalgoal.view.html'"></div>
                <!--END ORGANIZATIONAL GOAL-->
        <!--    </li>-->
        <!--</ul>-->
        </div>
    </div>
</div>                           
