<!-- BEGIN MODAL CONTENT -->
<div class="modal-content">
	<div class="modal-header">
	    <button type="button" class="close" ng-click="vm.closeModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	    <h4 class="modal-title" id="largeModalHead">Measurement Goal</h4>
	</div>
	<div class="modal-body">
	    <!-- BEGIN ROW -->
		<div ng-include="'dist/views/metricator/modal/modal.body.measurementgoal.view.html'"></div>
		<!-- END ROW -->
    </div>
	<div class="modal-footer">
	    <button type="submit" ng-show="vm.isToAssign()" class="btn btn-default padding-2" ng-click="vm.changeState()">Assign new MG</button>
        
	    <button type="submit" ng-show="vm.isToAddQuestioner()" class="btn btn-default padding-2" ng-click="vm.changeState()">Add Questioner</button>
        
	    <button type="button" ng-show="vm.isForApproval()" class="btn btn-default padding-2" ng-click="vm.changeState()">Send for approval</button>
        
        <button type="button" ng-show="vm.isToApprove()" ng-click="vm.changeState()" class="btn btn-default padding-2" data-dismiss="modal">Approve</button>
        
	    <button type="button" ng-show="vm.isToReject()" ng-click="vm.changeState()" class="btn btn-default padding-2" data-dismiss="modal">Reject</button>
        
	    <button type="button" ng-show="vm.isToChangeRequest()" ng-click="vm.changeState()" class="btn btn-default padding-2" data-dismiss="modal">Change Request</button>
        
	    <button type="button" ng-show="vm.isModifiable()" ng-click="vm.goToUpdateMeasurementGoal()" class="btn btn-default padding-2" data-dismiss="modal">Update</button>
        
	    <a ng-show="!vm.isModifiable()" ng-href="#/measurementgoal/{{vm.measurementGoalDialog.metadata.id}}" class="btn btn-default padding-2" data-dismiss="modal">Read</a>
        
        <button type="button" class="btn btn-default" ng-click="vm.closeModal()">Close</button>
	</div>
</div>				
<!-- END MODAL CONTENT -->

