<div class="panel panel-default nav-tabs-vertical accordion">   
	<div class="panel-heading">
        <h3 class="panel-title">
        	<a data-toggle="collapse" data-target="#accOneColOneOrgGoal">Organizational Goal</a>
        </h3>
    </div>
    <div class="tabs collapse" id="accOneColOneOrgGoal" ng-show="true">
    	<div class="panel-body">
		<div ng-include="'dist/views/metricator/tab/tab.body.organizationalgoal.view.html'"></div> 
		</div>
    </div>
</div>
<!--vm.organizationalGoal.length >0-->