<div class="panel panel-default nav-tabs-vertical accordion">   
	<div class="panel-heading">
        <h3 class="panel-title">
        	<a data-toggle="collapse" data-target="#accOneColOneProjInstance">Instance Project</a>
        </h3>
    </div>
    <div class="collapse" id="accOneColOneProjInstance" ng-show="true">
        <div class="panel-body">
			<ul class="list-group border-bottom">
			    <h4>Title</h4>
			    <li class="list-group-item">{{vm.instanceProject.title}}</li>
			    <h4>Description</h4>
			    <li class="list-group-item">{{vm.instanceProject.description}}</li>
			    <h4>Status</h4>
			    <li class="list-group-item">{{vm.instanceProject.status}}</li>
			</ul>
		</div>
	</div>
</div>
<!--vm.instanceProject.length >0-->