<style>
input[textarea]
{
    background-color:white;
}
</style>

<h2>Measurement Goal</h2>
<ul class="list-group border-bottom">
    <br>
    <h4>Focus</h4>
    <li class="list-group-item">{{vm.measurementGoalDialog.qualityFocus}}</li>
    <br>
    <h4>Object</h4>
    <li class="list-group-item">{{vm.measurementGoalDialog.object}}</li>
    <br>
    <h4>Purpose</h4>
    <li class="list-group-item">{{vm.measurementGoalDialog.purpose}}</li>
    <br>
    <h4>ViewPoint</h4>
    <li class="list-group-item">{{vm.measurementGoalDialog.viewPoint}}</li>
    <br>
    <h3>Interpretation Model</h3>
        <li class="list-group-item">
        <h4 class="panel-title">Function Javascript :</h4>
        <br>
        <textarea class="form-control-ta" rows="5" disabled>
        {{vm.measurementGoalDialog.interpretationModel.functionJavascript}}
        </textarea>                              
        <br>
        <h4 class="panel-title">Query NoSQL :</h4>
        <br>
        <textarea class="form-control-ta" rows="5" disabled>
        {{vm.measurementGoalDialog.interpretationModel.queryNoSQL}}
        </textarea>
        </li>        
</ul>