<div class="panel panel-default nav-tabs-vertical accordion">                   
    <div class="panel-heading">
        <h3 class="panel-title">
        	<a data-toggle="collapse" data-target="#accOneColOneMetric">Metrics</a>
        </h3>
    </div>
    <div class="tabs collapse" id="accOneColOneMetric" ng-show="vm.metrics.length >0">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" data-target="#metricActive">active</a></li>
            <li ng-repeat="metric in vm.metrics.slice(1, vm.metrics.length)"><a data-toggle="tab" data-target="#tab{{$index}}">{{$index}}</a>
            </li>
        </ul>          
        <div class="panel-body tab-content">
            <div class="tab-pane active" id="metricActive">
                <!--BEGIN ACTIVE METRIC-->
                 <h4>{{vm.metrics[0].name}}</h4>
                 <br>
                 <br>
                 <ul class="list-group border-bottom">
                    <h4>Has Max</h4>
                    <li class="list-group-item">{{vm.metrics[0].hasMax}}</li>
                    <h4>Has Min</h4>
                    <li class="list-group-item">{{vm.metrics[0].hasMin}}</li>
                    <h4>Has User Defined List</h4>
                    <li class="list-group-item">{{vm.metrics[0].hasUserDefinedList}}</li>
                    <span ng-show="vm.metrics[0].hasUserDefinedList === 'True'"><h4>User Defined List</h4>
                    <li ng-repeat="listItem in vm.metrics[0].userDefinedList">{{listItem}}</li></span>
                    <h4>Is Ordered</h4>
                    <li class="list-group-item">{{vm.metrics[0].isOrdered}}</li>
                    <h4>Max</h4>
                    <li class="list-group-item">{{vm.metrics[0].max}}</li>
                    <h4>Min</h4>
                    <li class="list-group-item">{{vm.metrics[0].min}}</li>
                    <h4>Unit</h4>
                    <li class="list-group-item">{{vm.metrics[0].unit}}</li>  
                    <h4>Scale Type</h4>
                    <li class="list-group-item">{{vm.metrics[0].scaleType}}</li>  
                    <h4>Set</h4>
                    <li class="list-group-item">{{vm.metrics[0].set}}</li>  
                    <h4>Tags</h4>
                    <li class="list-group-item" ng-repeat="tag in vm.metrics[{$index}].tags">{{tag}}</li>  
                    <h4>State</h4>
                    <li class="list-group-item">{{vm.metrics[0].metadata.state}}</li>
                    <h4>Last Version Date</h4>
                    <li class="list-group-item">{{vm.metrics[0].metadata.lastVersionDate}}</li>  
                    <h4>Release Note</h4>
                    <li class="list-group-item">
                            {{vm.metrics[0].metadata.releaseNote}}
                    </li>  
                </ul> 
                <!--END ACTIVE METRIC-->
            </div>
            <div class="tab-pane" ng-repeat="metric in vm.metrics.slice(1, vm.metrics.length)" id="tab{{$index}}">
                <!--BEGIN HIDDEN METRIC-->
                <h4>{{metric.name}}</h4>
                 <br>
                 <br>
                <ul class="list-group border-bottom">
                    <h4>Has Max</h4>
                    <li class="list-group-item">{{metric.hasMax}}</li>
                    <h4>Has Min</h4>
                    <li class="list-group-item">{{metric.hasMin}}</li>
                    <h4>Has User Defined List</h4>
                    <li class="list-group-item">{{metric.hasUserDefinedList}}</li>
                    <span ng-show="metric.hasUserDefinedList === 'True'"><h4>User Defined List</h4>
                    <li ng-repeat="listItem in metric.userDefinedList">{{listItem}}</li></span>
                    <h4>Is Ordered</h4>
                    <li class="list-group-item">{{metric.isOrdered}}</li>
                    <h4>Max</h4>
                    <li class="list-group-item">{{metric.max}}</li>
                    <h4>Min</h4>
                    <li class="list-group-item">{{metric.min}}</li>
                    <h4>Unit</h4>
                    <li class="list-group-item">{{metric.unit}}</li>  
                    <h4>Scale Type</h4>
                    <li class="list-group-item">{{metric.scaleType}}</li>
                    <h4>Set</h4>
                    <li class="list-group-item">{{metric.set}}</li>  
                    <h4>Tags</h4>
                    <li class="list-group-item" ng-repeat="tag in metric.tags">{{tag}}</li>  
                    <h4>State</h4>
                    <li class="list-group-item">{{metric.metadata.state}}</li>  
                    <h4>Last Version Date</h4>
                    <li class="list-group-item">{{metric.metadata.lastVersionDate}}</li>  
                    <h4>Release Note</h4>
                    <li class="list-group-item">  
                        <div class="panel-body scroll" style="height: 30px;">    
                            <p>{{metric.metadata.releaseNote}}</p>
                        </div>                                   
                    </li>  
                </ul>          
                <!--END HIDDEN METRIC--> 
            </div>                    
        </div>
    </div>
</div>
