<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> Question Details</h2>
</div>

 <div class="page-content-wrap" ng-controller="QuestionDetailsCtrl as qst">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
				<div class="panel-header">
				    <button type="button" class="close" data-dismiss="modal" ng-click="qst.closeModal()">
				        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <h4 class="modal-title" id="largeModalHead">Question</h4>
				</div>
				<div class="panel-body">
				    <h2>Question</h2>
				    <ul class="list-group border-bottom">
				    	<br>
				        <h4>Focus</h4>
				        <li class="list-group-item">{{qst.questionDialog.focus}}</li>
				        <br>
				        <h4>Subject</h4>
				        <li class="list-group-item">{{qst.questionDialog.subject}}</li>
				        <br>
				        <h4>Description</h4>
				        <li class="list-group-item">{{qst.questionDialog.description}}</li>
				        <br>
				        <h4>Tags</h4>
				        <li class="list-group-item" ng-repeat="tag in qst.questionDialog.metadata.tags">{{tag}}</li>
				        <br>
				        <h4>State</h4>
				        <li class="list-group-item">{{qst.questionDialog.metadata.state}}</li>
				        <br>
				        <h4>Last Version Date</h4>
				        <li class="list-group-item">{{qst.questionDialog.metadata.lastVersionDate}}</li>
				        <br>
				        <h4>Creation Date</h4>
				        <li class="list-group-item">{{qst.questionDialog.metadata.creationDate}}</li>
				        <br>
				        <h4>Release Note</h4>
				        <li class="list-group-item">
				            <div class="panel-body scroll" style="height: 300px;">
				                <p>{{qst.questionDialog.metadata.releaseNote}}</p>
				            </div>
				        </li>  
				        <br>
				        <li ng-show="qstModal.showReleaseNote" class="list-group-item">
				            <label class="col-md-3 col-xs-12 control-label">Input Release Note</label>
				            <textarea name="inputReleaseNote" class="form-control" rows="5"
				                                    ng-required="true" ng-minlength="10"
				                                    ng-model="qstModal.questionDialog.metadata.releaseNote">
				            </textarea>
				            <span ng-show="inputReleaseNote.$invalid">Invalid Release Note</span>
				            <button type="button" class="btn btn-default" ng-click="qstModal.notifyQuestion()" ng-disabled="inputReleaseNote.$invalid">
				                Submit
				            </button>
				        </li>
				    </ul>
				</div>
				<div class="panel-footer" ng-show="qstModal.isExpert">
					<button type="button" class="btn btn-default" ng-click="qstModal.closeModal()">Close</button>

				    <a ng-click="qstModal.rejectQuestion()" class="btn btn-primary"
				        ng-show="qstModal.questionDialog.metadata.state == 'Pending'">Reject Question</a>
				    <a ng-click="qstModal.approveQuestion()" class="btn btn-primary"
				        ng-show="qstModal.questionDialog.metadata.state == 'Pending'">Approve Question</a>
				    <a ng-click="qstModal.suspendQuestion()" class="btn btn-primary"
				        ng-show="qstModal.questionDialog.metadata.state == 'Pending'">Suspend Question</a>
				    <a ng-click="qstModal.deleteQuestion(qstModal.questionDialog.metadata.id)"
				        ng-show="qstModal.questionDialog.metadata.state == 'Suspended'" class="btn btn-danger">
        Delete Question
    </a>
				</div>
			</div>
		</div>
	</div>
</div>
