<!-- PAGE TITLE -->
<div class="page-title">                    
	<h2><span class="fa fa-arrow-circle-o-left"></span> Measurement Goal Question List</h2>
</div>
<!-- END PAGE TITLE -->                

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">                

<div class="row">
<div class="col-md-12">

<div ng-controller="QuestionMeasurementGoalAddCtrl as mgc">

<!-- <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Measurement Goal details</h3>
    </div>
    <div class="panel-body">
    <h6>Id</h6>
    <button id="modal_button" class="btn btn-default btn-rounded" data-toggle="modal"
                                     ng-click="mgc.openMg()">{{mg.metadata.id}}</button>
    <h6>Object</h6>    
    <p>{{mgc.mgDialog.object}} </p>
    <h6>Focus</h6>    
    <p>{{mgc.mgDialog.focus}} </p>
    <h6>Purpose</h6>    
    <p>{{mgc.mgDialog.purpose}} </p>
    <h6>Viewpoint</h6>    
    <p>{{mgc.mgDialog.viewpoint}} </p>
    </div>
</div>   --> 

<questioner-mg></questioner-mg>


<!-- START DEFAULT DATATABLE -->
<div class="panel panel-default">
    <div class="panel-heading">                                
        <h3 class="panel-title">Measurement Goal Questions</h3>
        <ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            <li><a ng-click="mgc.getMeasurementGoals()" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>                                
    </div>
    <div class="panel-body">

            <table st-table="questionList" st-safe-src="mgc.newQuestions" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="id">Id</th>
                        <th st-sort="name">Name</th>
                        <th st-sort="creationDate">CreationDate</th>
                        <th st-sort="lastVersionDate">LastVersionDate</th>
                        <th st-sort="releaseNote">ReleaseNote</th>
                        <th st-sort="state">State</th>
                    </tr>
            <tr>
            <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="question in questionList">
                        <td>
                            <!--#modal_large mgc.setModal($parent.$index)-->
                            <button id="modal_button_{{$index}}" class="btn btn-default btn-rounded" data-toggle="modal"
                                ng-click="mgc.newOpen($index)">{{question.metadata.id}}</button>
                        </td>
                        <td>{{question.metadata.entityType}}</td>
                        <td>{{question.metadata.creationDate}}</td>
                        <td>{{question.metadata.lastVersionDate}}</td>
                        <td>{{question.metadata.releaseNote}}</td>
                        <td>{{question.metadata.state}}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="mgc.addToMeasurementGoal($index)">Add To MG</button>
                        </td>
                    </tr>
                    
                    <tr ng-repeat="pquestion in mgc.questions">
                        <td>
                            <!--#modal_large mgc.setModal($parent.$index)-->
                            <button id="modal_button_{{$index}}" class="btn btn-default btn-rounded" data-toggle="modal"
                                ng-click="mgc.qOpen($index)">{{pquestion.metadata.id}}</button>
                        </td>
                        <td>{{pquestion.metadata.entityType}}</td>
                        <td>{{pquestion.metadata.creationDate}}</td>
                        <td>{{pquestion.metadata.lastVersionDate}}</td>
                        <td>{{pquestion.metadata.releaseNote}}</td>
                        <td>{{pquestion.metadata.state}}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="mgc.removeQFromMeasurementGoal($index)">Remove from MG</button>
                        </td>
                    </tr>

                    
                    <tr ng-repeat="pquestion in mgc.pendingQuestions">
                        <td>
                            <!--#modal_large mgc.setModal($parent.$index)-->
                            <button id="modal_button_{{$index}}" class="btn btn-default btn-rounded" style="color:#af232a; border-color:#af232a" data-toggle="modal"
                                ng-click="mgc.pqOpen($index)">{{pquestion.metadata.id}}</button>
                        </td>
                        <td>{{pquestion.metadata.entityType}}</td>
                        <td>{{pquestion.metadata.creationDate}}</td>
                        <td>{{pquestion.metadata.lastVersionDate}}</td>
                        <td>{{pquestion.metadata.releaseNote}}</td>
                        <td>{{pquestion.metadata.state}}</td>
                        <td>
                            <button type="button" class="btn btn-default" ng-click="mgc.removePQFromMeasurementGoal($index)">Remove from MG</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>  
                        
        </div>   
    </div>

</div>
<!-- END DEFAULT DATATABLE -->
