<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Measurement Goal details</h3>
    </div>
    <div class="panel-body">
    <h6>Id</h6>
    <button id="modal_button" class="btn btn-default btn-rounded" data-toggle="modal"
                                     ng-click="mgc.openMg()">{{mgc.mgDialog.metadata.id}}</button>
    <br>
    <h6>Object</h6>    
    <p>{{mgc.mgDialog.object}} </p>
    <h6>Focus</h6>    
    <p>{{mgc.mgDialog.focus}} </p>
    <h6>Purpose</h6>    
    <p>{{mgc.mgDialog.purpose}} </p>
    <h6>Viewpoint</h6>    
    <p>{{mgc.mgDialog.viewpoint}} </p>
    </div>
</div>  
