<!--<div class="row">
	<button type="submit" ng-show="vm.isToAssign()" class="btn btn-default padding-2" ng-click="vm.changeState()">Assign new MG</button>
	<button type="submit" ng-show="vm.isToAddQuestioner()" class="btn btn-default padding-2" ng-click="vm.changeState()">Add Questioner</button>
    <button type="submit" ng-show="vm.isForApproval()" class="btn btn-default padding-2" ng-click="vm.changeState()">Send for approval</button><button type="submit" ng-show="vm.isToApprove()" ng-click="vm.changeState()" class="btn btn-default padding-2">Approve</button>
    <button type="submit" ng-show="vm.isToReject()" ng-click="vm.changeState()" class="btn btn-default padding-2">Reject</button>
    <button type="submit" ng-show="vm.isToSuspend()" ng-click="vm.changeState()" class="btn btn-default padding-2">Suspend</button> 
	<button type="button" ng-show="vm.isModifiable()" ng-click="vm.goToUpdateMeasurementGoal()" class="btn btn-default padding-2">Update</button>
</div>-->
<div class="row">
<div ng-include="'dist/views/metricator/modal/modal.body.measurementgoal.view.html'">
</div>


<!--
<div class="row">
	<button type="submit" ng-show="vm.isToAssign()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('OnUpdateWaitingQuestions')">Assign new MG</button>
	<button type="submit" ng-show="vm.isToAddQuestioner()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('')">Add Questioner</button>
    <button type="submit" ng-show="vm.isForApproval()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('Pending')">Send for approval</button><button type="submit" ng-show="vm.isToApprove()" ng-click="vm.commitChangeState('Approved')" class="btn btn-default padding-2">Approve</button>
    <button type="submit" ng-show="vm.isToReject()" ng-click="vm.commitChangeState('Rejected')" class="btn btn-default padding-2">Reject</button>
    <button type="submit" ng-show="vm.isToSuspend()" ng-click="vm.commitChangeState('Suspended')" class="btn btn-default padding-2">Suspend</button> 
	<button type="button" ng-show="vm.isModifiable()" ng-click="vm.goToUpdateMeasurementGoal()" class="btn btn-default padding-2">Update</button>
</div>
-->