<div ng-controller="MeasurementGoalController as vm">
	<div class="block">
		<form name="measurementGoalForm" role="form" class="form-horizontal" ng-submit="vm.commitChangeState()" novalidate="novalidate">
			<div class="form-group">
			    <label class="col-md-3 col-xs-12 control-label">Note</label>
			    <div class="col-md-6 col-xs-12">
			        <textarea name="releaseNote" class="form-control" rows="5"
			            ng-required="true" ng-minlength="10" 
			            ng-model="vm.measurementGoalDialog.metadata.releaseNote">
		            </textarea>
			    </div>
			</div>
			<!--vm.sendMessage-->
			<!-- FORM FIELD: NEW METRICATORID -->
		    <div class="form-group" ng-show="vm.noMetricatorsForMG() && vm.isToAssign()">
		        <label class="col-md-3 col-xs-12 control-label">New MetricatorId</label>
		        <div class="col-md-6 col-xs-12">
		            <input name="newMetricatorId" type="text" ng-minlength="3" ng-model="vm.newMetricatorId" ng-required="vm.noMetricatorsForMG() && vm.isToAssign()">
		        </div>
		    </div>
		    <!-- FORM FIELD: Questioners vm.measurementGoalDialog.questionersId.length>0-->
		    <div class="form-group" ng-show="!vm.noQuestionersForMG() && vm.isToAddQuestioner()">
		        <label class="col-md-3 col-xs-12 control-label">Questioners assigned</label>
		        <div class="col-md-6 col-xs-12">	
		        	<i ng-repeat="questioner in vm.measurementGoalDialog.questionersId" class="btn btn-rounded">{{questioner}}</i>
		        </div>
		    </div>
		    <!-- FORM FIELD: NEW QUESTIONERID -->
		    <div class="form-group" ng-show="vm.isToAssign() || vm.isToAddQuestioner()">
		        <label class="col-md-3 col-xs-12 control-label">New QuestionerId</label>
		        <div class="col-md-6 col-xs-12">
		            <input type="text" name="newQuestionerId" ng-model="vm.newQuestionerId" ng-minlength="3" ng-required="vm.isToAssign() || vm.isToAddQuestioner()">	            
		        </div>
		    </div>
		    <!-- FORM FIELD: CHANGE OLD METRICATORID -->
		    <!--<div class="form-group" ng-show="!vm.noQuestionersForMG() && vm.isToChangeQuestioner()">
		        <label class="col-md-3 col-xs-12 control-label">Old MetricatorId to change</label>
		        <div class="col-md-6 col-xs-12">
		            <input type="text" ng-model="vm.oldMetricatorIdToChange">      
		        </div>
		    </div>-->
			<!-- FORM FIELD: CHANGE NEW METRICATORID -->
		    <!--<div class="form-group" ng-show="!vm.noQuestionersForMG() &&!vm.isToChangeQuestioner()">
		        <label class="col-md-3 col-xs-12 control-label">New MetricatorId to change</label>
		        <div class="col-md-6 col-xs-12">
		            <input type="text" ng-model="vm.newMetricatorIdToChange">	   </div>
		    </div>-->
		    <!-- FORM FIELD: CHANGE OLD QUESTIONERID -->
		    <!--<div class="form-group" ng-show="!vm.noQuestionersForMG() && vm.isToChangeQuestioner()">
		        <label class="col-md-3 col-xs-12 control-label">Old QuestionerId to change</label>
		        <div class="col-md-6 col-xs-12">
		            <input type="text" ng-model="vm.oldQuestionerIdToChange">      
		        </div>
		    </div>-->
			<!-- FORM FIELD: CHANGE NEW QUESTIONERID -->
		    <!--<div class="form-group" ng-show="!vm.noQuestionersForMG() &&!vm.isToChangeQuestioner()">
		        <label class="col-md-3 col-xs-12 control-label">New QuestionerId to change</label>
		        <div class="col-md-6 col-xs-12">
		            <input type="text" ng-model="vm.newQuestionerIdToChange">	   </div>
		    </div>-->
		    <!--<a ng-click="vm.addMetricatorIdToMeasurementGoal()"class="btn btn-primary">Add</a>-->
		    <!--<a ng-click="vm.addQuestionerIdToMeasurementGoal()"class="btn btn-primary">Add</a>-->
			<!-- FORM ACTIONS: SUBMIT -->
	        <div class="form-actions">
	            <button ng-disabled="measurementGoalForm.$invalid || vm.loading || 
	            measurementGoalForm.releaseNote.$pristine || measurementGoalForm.newMetricatorId.$pristine || measurementGoalForm.newQuestionerId.$pristine
	            " type="submit" ng-show="vm.isToAssign()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('OnUpdateWaitingQuestions')">Assign new MG</button>
	            <button ng-disabled="measurementGoalForm.$invalid || vm.loading || 
	            measurementGoalForm.releaseNote.$pristine || measurementGoalForm.newQuestionerId.$pristine
	            " type="submit" ng-show="vm.isToAddQuestioner()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('')">Add Questioner</button>
	            <!--<button ng-disabled="measurementGoalForm.$invalid || vm.loading || 
	            measurementGoalForm.releaseNote.$pristine || measurementGoalForm.newMetricatorIdToChange.$pristine || measurementGoalForm.oldMetricatorIdToChange.$pristine
	            " type="submit" ng-show="vm.isToAssign()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('')">Change Metricator Assignment</button>
	            <button ng-disabled="measurementGoalForm.$invalid || vm.loading || 
	            measurementGoalForm.releaseNote.$pristine || measurementGoalForm.newQuestionerIdToChange.$pristine || measurementGoalForm.oldQuestionerIdToChange.$pristine
	            " type="submit" ng-show="vm.isToAssign()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('')">Change Questioner Assignment</button>-->
	            <button ng-disabled="measurementGoalForm.$invalid || vm.loading ||
	            measurementGoalForm.releaseNote.$pristine" type="submit" ng-show="vm.isForApproval()" class="btn btn-default padding-2" ng-click="vm.commitChangeState('Pending')">Send for approval</button> <button ng-disabled="measurementGoalForm.$invalid || vm.loading ||
	            measurementGoalForm.releaseNote.$pristine" type="submit" ng-show="vm.isToApprove()" ng-click="vm.commitChangeState('Approved')" class="btn btn-default padding-2" data-dismiss="modal">Approve</button>
			    <button ng-disabled="measurementGoalForm.$invalid || vm.loading ||
	            measurementGoalForm.releaseNote.$pristine" type="submit" ng-show="vm.isToReject()" ng-click="vm.commitChangeState('Rejected')" class="btn btn-default padding-2" data-dismiss="modal">Reject</button>
			    <button ng-disabled="measurementGoalForm.$invalid || vm.loading ||
	            measurementGoalForm.releaseNote.$pristine" type="submit" ng-show="vm.isToChangeRequest()" ng-click="vm.commitChangeState('OnUpdateWaitingQuestions')" class="btn btn-default padding-2" data-dismiss="modal">Change Request</button>
	        </div>
		</form>
	</div>
</div>
