<!-- METRICATOR'S HOME-->
<!-- PAGE TITLE -->
<div class="page-title">
	<h2><span class="fa fa-arrow-circle-o-left"></span> Graphs Page</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
<div ng-controller="ExpertGraphController as vm">

<div class="row">
    <div class="col-centered"><h2 ng-show="vm.loading">Loading Graphs</h2></div>
</div>
<div class="row">
<div class="col-md-12">
<!-- START DEFAULT SMART-TABLE -->
<div class="panel panel-default">
    <div class="panel-heading">                                
        <h3 class="panel-title">Graphs</h3>
    </div>
    <div class="panel-body">
            <div ng-include="'dist/views/graph/table.graph.view.html'"></div>
    </div>
</div>
</div>
<!-- END DEFAULT SMART-TABLE -->
</div>
</div>
</div>
