<!-- FORM: GRAPH -->
<div ng-controller="GraphController as vm">
<div class="row">
<h2>Graph</h2>
</div>

<form name="graphForm" role="form"  ng-submit="vm.submitGraph()">
        <div class="col-md-4 pull-left padding-2">
        <ul class="list-group border-bottom">
        <h4>Measurement Goal:</h4>
        <h6>Object</h6>
        <li class="list-group-item">{{vm.measurementGoal.object}}</li>
        <br>
        <h6>Purpose</h6>
        <li class="list-group-item">{{vm.measurementGoal.purpose}}</li>
        <br>
        <h6>ViewPoint</h6>
        <li class="list-group-item">{{vm.measurementGoal.viewPoint}}</li>
        <br>
        <h6>Focus</h6>
        <li class="list-group-item">{{vm.measurementGoal.qualityFocus}}</li>
        <br>
        <h5>Interpretation Model:<h5>
        <h6>Function Javascript</h6>
        <textarea class="form-control-ta ng-binding" rows="5" cols="30" disabled>{{vm.measurementGoal.interpretationModel.functionJavascript}}</textarea>
        <br>
        <h6>Query</h6>
        <textarea class="form-control-ta ng-binding" rows="5" cols="30" disabled>{{vm.measurementGoal.interpretationModel.queryNoSQL}}</textarea>
        <br> <br>
        <h6>Release Note</h6>
        <textarea class="form-control-ta ng-binding" rows="5" cols="30" disabled>{{vm.measurementGoal.metadata.releaseNote}}</textarea>
        <br> <br>
        <h6>Tags</h6>
            <span
                class="btn btn-info btn-rounded" ng-repeat="tag in vm.measurementGoal.metadata.tags">
                {{tag}}
            </span>
        <br> <br>
        </ul>
        </div>
    
    
        <div class="col-md-6 pull-right">
        <ul class="list-group border-bottom">
            <h4>Questions:</h4>
            <span
                class="btn btn-info btn-rounded" ng-repeat="question in vm.measurementGoal.questions" ng-click="vm.setQuestionDialog($index, 'Question')">
                {{question.instance}}
            </span>
            <span
                class="btn btn-info btn-rounded" style="color:#af232a; border-color:#af232a" ng-repeat="pendingQuestion in vm.measurementGoal.pendingQuestions" ng-click="vm.setQuestionDialog($index, 'PendingQuestion')">
                {{pendingQuestion.instance}}
            </span>
            <br> <br>
            <h4>Metrics:</h4>
            <span
                class="btn btn-info btn-rounded" ng-repeat="metric in vm.measurementGoal.metrics" ng-click="vm.setMetricDialog($index)">
                {{metric.instance}}
            </span>
            <br> <br>
            <h4>Context Factors:</h4>
            <span
                class="btn btn-info btn-rounded" ng-repeat="contextFactor in vm.measurementGoal.contextFactors">
                <a ng-click="vm.setContextFactorDialog($index)" class="ng-binding">
                {{contextFactor.instance}}
                </a>
            </span>
            <br> <br>
            <h4>Assumptions:</h4>
            <span
            class="btn btn-info btn-rounded" ng-repeat="assumption in vm.measurementGoal.assumptions">
                <a ng-click="vm.setAssumptionDialog($index)" class="ng-binding">
            {{assumption.instance}}
            </a>
            </span>
            <br> <br>
            
                <h4>Baseline Hypotheses:</h4>
                <div id="blh">
                <span ng-repeat="baselineHypothesis in vm.graph.baselineHypotheses">
                    <div id="{{$index}}_BaselineHypotheses">
                    <div class="col-md-9">
                    <input class="form-control" name="blh" type="text" value="{{baselineHypothesis}}"/>
                    </div>
                    <div class="col-md-1">
                    <i ng-click="vm.removeBaselineHypothesesFromGraph($index)"
                        class="glyphicon glyphicon-remove-circle pull-right" ng-show="vm.graph.metadata.state!='Approved'"></i>
                    </div>
                    <br>
                    <br>
                    </div>
                </span>
                </div>
                <br ng-show="vm.graph.metadata.state!='Approved'">
                <a ng-click="vm.addBaselineHypotheses()"class="btn btn-primary" ng-show="vm.graph.metadata.state!='Approved'">Add Baseline Hypotheses</a>
                
                <br ng-show="vm.graph.metadata.state!='Approved'"> <br>
                <h4>Variation Factors:</h4>
                <div id="vf">
                <span ng-repeat="factor in vm.graph.variationFactors">
                    <div id="{{$index}}_VariationFactors">
                    <div class="col-md-9">
                    <input class="form-control" name="vf" type="text" role="textbox" value="{{factor}}"/>
                    </div>
                    <div class="col-md-1">
                        <i ng-click="vm.removeVariationFactorsFromGraph($index)"
                            class="glyphicon glyphicon-remove-circle pull-right" ng-show="vm.graph.metadata.state!='Approved'"></i>
                    </div>
                    <br>
                    <br>
                    </div>
                </span>
                </div>
                <br ng-show="vm.graph.metadata.state!='Approved'">
                <a ng-click="vm.addVariationFactors()"class="btn btn-primary" ng-show="vm.graph.metadata.state!='Approved'">Add Variation Factors</a>
                
                <br ng-show="vm.graph.metadata.state!='Approved'"> <br>
                <h4>Impact on Baseline Hypotheses:</h4>
                <textarea class="form-control-ta ng-binding" rows="5" cols="30" ng-model="vm.graph.impactOnBaselineHypotheses" ng-disabled="vm.graph.metadata.state=='Approved'">{{vm.graph.impactOnBaselineHypotheses}}</textarea>
                <br> <br>

        
    <div class="form-actions">
        <button class="btn btn-primary" type="submit" ng-disabled="vm.loading" ng-show="vm.graph.metadata.state!='Approved'">Update Graph</button>
    </div>
    <br> <br>

    </ul>
    </div>

</form>
</div>
