<table st-table="graphs" st-safe-src="vm.graphs" colspan="10" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="metadata.id">Id</th>
            <th st-sort="metadata.entityType">Name</th>
            <th st-sort="metadata.creationDate">CreationDate</th>
            <th st-sort="metadata.lastVersionDate">LastVersionDate</th>
            <th>ReleaseNote</th>
            <th st-sort="metadata.state">State</th>
        </tr>
        <tr>
        	<th colspan="10">
				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="graph in graphs">
            <td>
                <button class="btn btn-default btn-rounded" ng-click="vm.goToUpdateGraph($index)">{{graph.metadata.id}}</button>
            </td>     
            <td>{{graph.metadata.entityType}}</td>
            <td>{{graph.metadata.creationDate}}</td>
            <td>{{graph.metadata.lastVersionDate}}</td>
            <td>{{graph.metadata.releaseNote}}</td>
            <td>{{graph.metadata.state}}</td>
        </tr>
    </tbody>
    <tfoot>
		<tr>
			<td colspan="5" class="text-center">
			<div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
			</td>
		</tr>
	</tfoot>
</table>
