<!-- START: PROFILE -->
<div ng-controller="ProfileController as vm">
    <ul class="breadcrumb">
        <li><a ng-href="#/home">Home</a></li>
        <li><a ng-href="#/organization">Organization</a></li>
        <li class="active"><a ng-href="#/profile/{{vm.currUser.id}}">Profile</a></li>
    </ul>
    <div class="page-title">
        <h2><span class="fa fa-user"></span> Profile <small ng-show="!vm.loading && vm.success">{{vm.currUser | userFullnameFormat}}</small></h2>
    </div>


    <div class="page-content-wrap">
        <div ng-switch="vm.loading">
            <p ng-switch-when="true">Loading user {{vm.currUser.username}} ...</p>
            <div ng-switch-when="false" ng-switch="vm.success">
                <!-- PROFILE WIDGET -->
                <div class="col-md-4" ng-switch="vm.loading">
                    <div class="panel panel-default">
                        <div class="panel-body profile bg-warning">
                            <div class="profile-image">
                                <img ng-src="{{vm.currUser.pic}}">
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name" >{{vm.currUser | userFullnameFormat}}</div>
                                <div class="profile-data-title" style="color:#FFF;">{{ vm.currUser.role}}</div>
                            </div>
                        </div>
                        <div class="panel-body list-group">
                            <a class="list-group-item" ng-click="vm.show=1"><span class="fa fa-user"></span> About</a>

                            <a class="list-group-item" ng-href="#/profile/{{vm.currUser.username}}/analytics">
                                <span class="fa fa-bar-chart-o"></span> Analytics</a>

                            <a class="list-group-item" ng-if="globals.user.username == vm.currUser.username"  ng-click="vm.show=3">
                                <span class="fa fa-pencil"></span> Edit Profile</a>

                            <a class="list-group-item" ng-if="globals.user.username == vm.currUser.username" ng-click="vm.show=4">
                                <span class="fa fa-gear"></span> Edit Credentials</a>

                            <a class="list-group-item" ng-if="globals.user.username != vm.currUser.username" ng-href="#/messages/{{vm.currUser.username}}"">
                                <span class="fa fa-envelope-o"></span> Contact</a>

                            <a class="list-group-item">
                                <div ng-switch on='{{vm.currUser.online}}'>
                                    <div ng-switch-when='true'>
                                        <button class="btn btn-success btn-rounded btn-block">ONLINE</button>
                                    </div>
                                    <div ng-switch-when='false'>
                                        <button class="btn btn-danger btn-rounded btn-block">OFFLINE</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            <div ng-switch on="vm.show">
                <div ng-switch-when="1"><viewabout></viewabout></div>
                <div ng-switch-when="2"><viewprojects></viewprojects></div>
                <div ng-switch-when="3"><vieweditprofile></vieweditprofile></div>
                <div ng-switch-when="4"><vieweditcredentials></vieweditcredentials></div>
            </div>
        </div>
    </div>

    <!--<div class="page-content-wrap">
        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading user {{vm.currUser.username}} ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">

                    <a type="button" role="button" class="btn btn-default"
                    data-toggle="modal" data-target="#modal-update-profile"
                    ng-switch-when="true"
                    ng-if="globals.user.username == vm.currUser.username">Edit Profile</a>

                    <a type="button" role="button" class="btn btn-default"
                    data-toggle="modal" data-target="#modal-update-password"
                    ng-switch-when="true"
                    ng-if="globals.user.username == vm.currUser.username">Change Password</a>

                    <a type="button" role="button" class="btn btn-default"
                    ng-switch-when="true"
                    ng-href="#/profile/{{vm.currUser.username}}/analytics">View Analytics</a>

                    <ul ng-switch-when="true">
                        <li ng-repeat="(key, value) in vm.currUser">{{key}} = {{value || 'Not available'}}</li>
                    </ul>
                    <p ng-switch-when="false">Ooops! Something went wrong :-( {{vm.errmsg}}</p>
                </div>
            </div>
        </div>
    </div>-->
    <!-- START: MODAL UPDATE PROFILE -->
    <div ng-include="'dist/views/user/update-profile.modal.view.html'"></div>
    <!-- END: MODAL UPDATE PROFILE -->
    <!-- START: MODAL UPDATE PASSWORD -->
    <div ng-include="'dist/views/user/update-password.modal.view.html'"></div>
    <!-- END: MODAL UPDATE PASSWORD -->
</div>
<!-- END: PROFILE -->
