<!-- START: MODAL UPDATE PASSWORD -->
<div class="modal" id="modal-update-password" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">Change Password <small ng-show="!vm.loading && vm.success">{{vm.currUser | userFullnameFormat}}</small></h4>
            </div>
            <div class="modal-body">
                <!-- FORM: UPDATE PASSWORD -->
                <form name="updatePasswordForm" role="form" class="form-horizontal" novalidate="novalidate">
                    <!-- FORM FIELD: OLD PASSWORD -->
                    <div class="form-group" ng-class="{ 'hash-error': updatePasswordForm.oldPassword.$dirty && updatePasswordForm.oldPassword.$invalid }">
                        <label class="col-md-3 control-label">Old Password:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="oldPassword" type="password" role="textbox" placeholder="Old Password" required="required"
                            ng-model="vm.oldPassword"
                            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                            ng-class="{ 'error': updatePasswordForm.oldPassword.$dirty && updatePasswordForm.oldPassword.$invalid }"
                            ng-minlength="3" ng-maxlength="20"/>
                            <div class="form-group-helper" role="alert" ng-messages="updatePasswordForm.oldPassword.$error" ng-show="updatePasswordForm.oldPassword.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-password.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: NEW PASSWORD -->
                    <div class="form-group" ng-class="{ 'hash-error': updatePasswordForm.newPassword.$dirty && updatePasswordForm.newPassword.$invalid }">
                        <label class="col-md-3 control-label">New Password:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="newPassword" type="password" role="textbox" placeholder="New Password" required="required"
                            ng-model="vm.newPassword"
                            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                            ng-class="{ 'error': updatePasswordForm.newPassword.$dirty && updatePasswordForm.newPassword.$invalid }"
                            ng-minlength="3" ng-maxlength="20"/>
                            <div class="form-group-helper" role="alert" ng-messages="updatePasswordForm.newPassword.$error" ng-show="updatePasswordForm.newPassword.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-password.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: NEW PASSWORD MATCH -->
                    <div class="form-group" ng-class="{ 'hash-error': updatePasswordForm.password_r.$dirty && updatePasswordForm.password_r.$invalid }">
                        <label class="col-md-3 control-label">Password:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="newPassword_r" type="password" placeholder="New Password (repeat)" required="required"
                            ng-model="vm.newPassword_r"
                            ng-model-options="{ updateOn: 'default' }"
                            ng-class="{ 'error': updatePasswordForm.newPassword_r.$dirty && updatePasswordForm.newPassword_r.$invalid }"
                            m-match="{{vm.newPassword}}"/>
                            <div class="form-group-helper" role="alert" ng-messages="updatePasswordForm.newPassword_r.$error" ng-show="updatePasswordForm.newPassword_r.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-password.message.html"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"
                ng-disabled="updatePasswordForm.$invalid || vm.loading"
                ng-click="vm.updatePassword(vm.oldPassword, vm.newPassword)"
                data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL UPDATE PASSWORD -->
