<!-- START: MODAL UPDATE PROFILE -->
<div class="modal" id="modal-update-profile" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="defModalHead">Edit Profile <small ng-show="!vm.loading && vm.success">{{vm.currUser | userFullnameFormat}}</small></h4>
            </div>
            <div class="modal-body">
                <!-- FORM: UPDATE PROFILE -->
                <form name="updateProfileForm" role="form" class="form-horizontal" novalidate="novalidate">
                    <!-- FORM FIELD: FIRSTNAME -->
                    <div class="form-group" ng-class="{ 'hash-error': updateProfileForm.firstname.$dirty && updateProfileForm.firstname.$invalid }">
                        <label class="col-md-3 control-label">Firstname:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="firstname" type="text" role="textbox" placeholder="Firstname" required="required"
                            ng-model="vm.updtUser.firstname"
                            ng-model-options="{ updateOn: 'default' }"
                            ng-class="{ 'error': updateProfileForm.firstname.$dirty && updateProfileForm.firstname.$invalid }"
                            ng-minlength="3" ng-maxlength="20"/>
                            <div class="form-group-helper" role="alert" ng-messages="updateProfileForm.firstname.$error" ng-show="updateProfileForm.firstname.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-profile.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: LASTNAME -->
                    <div class="form-group" ng-class="{ 'hash-error': updateProfileForm.lastname.$dirty && updateProfileForm.lastname.$invalid }">
                        <label class="col-md-3 control-label">Lastname:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="lastname" type="text" role="textbox" placeholder="Lastname" required="required"
                            ng-model="vm.updtUser.lastname"
                            ng-model-options="{ updateOn: 'default' }"
                            ng-class="{ 'error': updateProfileForm.lastname.$dirty && updateProfileForm.lastname.$invalid }"
                            ng-minlength="3" ng-maxlength="20"/>
                            <div class="form-group-helper" role="alert" ng-messages="updateProfileForm.lastname.$error" ng-show="updateProfileForm.lastname.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-profile.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: GENDER -->
                    <div class="form-group" ng-class="{ 'hash-error': updateProfileForm.gender.$dirty && updateProfileForm.gender.$invalid }">
                        <label class="col-md-3 control-label">Gender:</label>
                        <div class="col-md-9">
                            <select class="form-control" name="gender" role="combobox" required="required"
                            ng-model="vm.updtUser.gender"
                            ng-model-options="{ updateOn: 'default' }"
                            ng-class="{ 'error': updateProfileForm.gender.$dirty && updateProfileForm.gender.$invalid }">
                                <option value="" disabled="disabled" selected="selected">Choose an option</option>
                                <option ng-repeat="(gender_key,gender_name) in vm.GENDERS" ng-value="gender_name">{{gender_name}}</option>
                            </select>
                            <div class="form-group-helper" role="alert" ng-messages="updateProfileForm.gender.$error" ng-show="updateProfileForm.gender.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-profile.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: EMAIL -->
                    <div class="form-group" ng-class="{ 'hash-error': updateProfileForm.email.$dirty && updateProfileForm.email.$invalid }">
                        <label class="col-md-3 control-label">Email:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="email" type="email" role="textbox" placeholder="Email" required="required"
                            ng-model="vm.updtUser.email"
                            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                            ng-class="{ 'error': updateProfileForm.email.$dirty && updateProfileForm.email.$invalid }"/>
                            <div class="form-group-helper" role="alert" ng-messages="updateProfileForm.email.$error" ng-show="updateProfileForm.email.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-profile.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: MOBILE -->
                    <div class="form-group" ng-class="{ 'hash-error': updateProfileForm.mobile.$dirty && updateProfileForm.mobile.$invalid }">
                        <label class="col-md-3 control-label">Mobile:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="mobile" type="text" role="textbox" placeholder="Mobile" required="required"
                            ng-model="vm.updtUser.mobile"
                            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                            ng-class="{ 'error': updateProfileForm.mobile.$dirty && updateProfileForm.mobile.$invalid }"
                            ng-minlength="3" ng-maxlength="30"/>
                            <div class="form-group-helper" role="alert" ng-messages="updateProfileForm.mobile.$error" ng-show="updateProfileForm.mobile.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-profile.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: PROFILE PICTURE -->
                    <div class="form-group" ng-class="{ 'hash-error': updateProfileForm.picture.$dirty && updateProfileForm.picture.$invalid }">
                        <label class="col-md-3 control-label">Picture:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="picture" type="text" role="textbox" placeholder="Picture" required="required"
                            ng-model="vm.updtUser.picture"
                            ng-model-options="{ updateOn: 'default' }"
                            ng-class="{ 'error': updateProfileForm.picture.$dirty && updateProfileForm.picture.$invalid }"/>
                            <div class="form-group-helper" role="alert" ng-messages="updateProfileForm.picture.$error" ng-show="updateProfileForm.picture.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-profile.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: BIO -->
                    <div class="form-group" ng-class="{ 'hash-error': updateProfileForm.bio.$dirty && updateProfileForm.bio.$invalid }">
                        <label class="col-md-3 control-label">Bio:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="bio" type="text" role="textbox" placeholder="Bio"
                            ng-model="vm.updtUser.bio"
                            ng-model-options="{ updateOn: 'default' }"
                            ng-class="{ 'error': updateProfileForm.bio.$dirty && updateProfileForm.bio.$invalid }"
                            ng-minlength="3" ng-maxlength="300"/>
                            <div class="form-group-helper" role="alert" ng-messages="updateProfileForm.bio.$error" ng-show="updateProfileForm.bio.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-profile.message.html"></div>
                            </div>
                        </div>
                    </div>
                    <!-- FORM FIELD: WEBSITE -->
                    <div class="form-group" ng-class="{ 'hash-error': updateProfileForm.website.$dirty && updateProfileForm.website.$invalid }">
                        <label class="col-md-3 control-label">Website:</label>
                        <div class="col-md-9">
                            <input class="form-control" name="website" type="url" role="textbox" placeholder="Website"
                            ng-model="vm.updtUser.website"
                            ng-model-options="{ updateOn: 'default' }"
                            ng-class="{ 'error': updateProfileForm.website.$dirty && updateProfileForm.website.$invalid }"/>
                            <div class="form-group-helper" role="alert" ng-messages="updateProfileForm.website.$error" ng-show="updateProfileForm.website.$dirty">
                                <div ng-messages-include="dist/views/user/messages/update-profile.message.html"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary"
                ng-disabled="updateProfileForm.$invalid || vm.loading"
                ng-click="vm.updateProfile(vm.updtUser)"
                data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END: MODAL UPDATE PROFILE -->
