
<div class="modal-header">
    <button type="button" class="close" ng-click="qstModal.closeModal()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="largeModalHead">Question</h4>
</div>
<div class="modal-body">
    <h2>Question</h2>
    <ul class="list-group border-bottom">
    	<br>
        <h4>Focus</h4>
        <li class="list-group-item">{{qstModal.questionDialog.focus}}</li>
        <br>
        <h4>Subject</h4>
        <li class="list-group-item">{{qstModal.questionDialog.subject}}</li>
        <br>
        <h4>Description</h4>
        <li class="list-group-item">{{qstModal.questionDialog.description}}</li>
        <br>
        <h4>Tags</h4>
        <li class="list-group-item" ng-repeat="tag in qstModal.questionDialog.metadata.tags">{{tag}}</li>
        <br>
        <h4>State</h4>
        <li class="list-group-item">{{qstModal.questionDialog.metadata.state}}</li>
        <br>
        <h4>Last Version Date</h4>
        <li class="list-group-item">{{qstModal.questionDialog.metadata.lastVersionDate}}</li>
        <br>
        <h4>Creation Date</h4>
        <li class="list-group-item">{{qstModal.questionDialog.metadata.creationDate}}</li>
        <br>
        <h4>Release Note</h4>
           <textarea cols="120" ng-disabled="qstModal.isNoteModifiable()">
                {{qstModal.questionDialog.metadata.releaseNote}}
                </textarea>

        <br>
        <li ng-show="qstModal.showReleaseNote" class="list-group-item">
            <label class="col-md-3 col-xs-12 control-label">Input Release Note</label>
            <textarea name="inputReleaseNote" class="form-control" rows="5"
                                    ng-required="true" ng-minlength="10"
                                    ng-model="qstModal.questionDialog.metadata.releaseNote">
            </textarea>
            <span ng-show="inputReleaseNote.$invalid">Invalid Release Note</span>
            <button type="button" class="btn btn-default" ng-click="qstModal.notifyQuestion()" ng-disabled="inputReleaseNote.$invalid">
                Submit
            </button>
        </li>

    </ul>
</div>

<div class="modal-footer" ng-if="qstModal.isMetricator">
    <button type="button" class="btn btn-default" ng-click="qstModal.notifyWrongQuestion()" ng-show="!qstModal.isNoteModifiable()">Notify wrong Question</button>
    <button type="button" class="btn btn-default" ng-click="qstModal.closeModal()">Close</button>
</div>


<div class="modal-footer" ng-if="qstModal.isQuestioner">
    <button type="button" class="btn btn-default" ng-click="qstModal.closeModal()">Close</button>
    <a ng-click="qstModal.editQuestion()" class="btn btn-primary" ng-show="(qstModal.questionDialog.metadata.state == 'OnUpdate' || qstModal.questionDialog.metadata.state == 'Rejected')">Update Question</a>
    <a ng-click="qstModal.sendForApproval()" class="btn btn-primary"
        ng-show="qstModal.questionDialog.metadata.state == 'OnUpdate'">Send For Approval</a>
</div>
<div class="modal-footer" ng-if="qstModal.isExpert">
    <button type="button" class="btn btn-default" ng-click="qstModal.closeModal()">Close</button>

    <a ng-click="qstModal.rejectQuestion()" class="btn btn-primary"
        ng-show="qstModal.questionDialog.metadata.state == 'Pending'">Reject Question</a>
    <a ng-click="qstModal.approveQuestion()" class="btn btn-primary"
        ng-show="qstModal.questionDialog.metadata.state == 'Pending'">Approve Question</a>
    <a ng-click="qstModal.suspendQuestion()" class="btn btn-primary"
        ng-show="qstModal.questionDialog.metadata.state == 'Pending'">Suspend Question</a>
        <!--<a ng-click="qstModal.changeQuestion()" class="btn btn-primary"
        ng-show="qstModal.questionDialog.metadata.state == 'Approved'">Change Request</a> -->
    <a ng-click="qstModal.deleteQuestion(qstModal.questionDialog.metadata.id)"
        ng-show="qstModal.questionDialog.metadata.state == 'Suspended'" class="btn btn-danger">
        Delete Question
    </a>

</div>
