.list-group-messages {

    .list-group-item-message {

        &.status-read {
            //font-weight: inherit;
        }

        &.status-unread {
            background-color: $light-grey;
        }

        &.active {
            border-left-color: $dark-grey;
            border-left-style: solid;
            border-left-width: initial;
        }

        &.btn-load-more {
            background-color: $light-grey;
        }

    }

}

.conversation-title-recipient {
    border-left-color: $dark-grey;
    border-bottom-style: solid;
    border-bottom-width: thin;
    text-align:center;
}
