<!-- COMPONENT: ERROR 401 -->
<div ng-controller="Error401Controller as vm">
    <div class="error-container">
        <div class="error-code">401</div>
        <div class="error-text">unauthorized access</div>
        <div class="error-subtext">Sorry, but <strong>you are not authorized</strong> to access the requested page.</div>
        <div class="error-actions">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-info btn-block btn-lg" ng-click="vm.goHome()">Home</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block btn-lg" ng-click="vm.goBack()">Go back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END COMPONENT: ERROR 401 -->
