<!DOCTYPE html>
<html lang="en" class="body-full-height"  ng-app="metricapp" ng-strict-di>
    <head>
        <!-- META: NAVIGATION -->
        <base href="/">

        <!-- META: BASICS -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="content-script-type" content="text/javascript">
        <meta http-equiv="content-style-type" content="text/css">
        <meta http-equiv="content-language" content="en">
        <meta http-equiv="date" content="Wed, 28 Jan 2015 8:00:00 GMT">
        <meta http-equiv="last-modified" content="Fri, 30 Jan 2015 20:00:00 GMT">
        <meta http-equiv="window_target" content="_top">

        <!-- META: SEO -->
        <meta name="application-name" content="metricapp">
        <meta name="description" content="Metricapp">
        <meta name="copyright" content="MIT License, Copyright (c) 2016">
        <meta name="keywords" content="software engineering">
        <meta name="google" content="notranslate">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="14 days">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- TITLE -->
        <title>metricapp</title>

        <!-- FAVICON -->
        <link rel="icon" type="image/x-icon" sizes="any" href="dist/images/logos/logo.svg">
        <link rel="icon" type="image/x-icon" sizes="16x16" href="dist/images/icons/favicon-16.png">
        <link rel="icon" type="image/x-icon" sizes="24x24" href="dist/images/icons/favicon-24.png">
        <link rel="icon" type="image/x-icon" sizes="32x32" href="dist/images/icons/favicon-32.png">
        <link rel="icon" type="image/x-icon" sizes="48x48" href="dist/images/icons/favicon-48.png">
        <link rel="icon" type="image/x-icon" sizes="64x64" href="dist/images/icons/favicon-64.png">
        <link rel="shortcut icon" type="image/x-icon" sizes="any" href="dist/images/logos/logo.svg">
        <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="dist/images/icons/favicon-16.png">
        <link rel="shortcut icon" type="image/x-icon" sizes="24x24" href="dist/images/icons/favicon-24.png">
        <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="dist/images/icons/favicon-32.png">
        <link rel="shortcut icon" type="image/x-icon" sizes="48x48" href="dist/images/icons/favicon-48.png">
        <link rel="shortcut icon" type="image/x-icon" sizes="64x64" href="dist/images/icons/favicon-64.png">

        <!-- STYLES: THEME -->
        <link rel="stylesheet" type="text/css" id="theme" href="vendors/joli-admin/joli/css/theme-default.css"/>

        <!-- STYLES: APP -->
        <link rel="stylesheet" type="text/css" media="screen, projection" href="dist/styles/app.css">

        <!-- STYLES: GRAPHS AND CHARTS -->
        <link rel="stylesheet" href="vendors/angular-bubbletree/dist/angular-bubbletree.css" />
        <link rel="stylesheet" href="vendors/nvd3/build/nv.d3.min.css" />


        <!-- BROWSERS PORTABILITY -->
        <!--if lt IE 8
        script(type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script(type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
        -->

    </head>

    <body ng-class="{'body-full': !globals.user}" ng-cloak>
        <!-- START: FALSH -->
        <flash-message></flash-message>
        <!-- END: FLASH -->
        <!-- START: PAGE CONTAINER -->
        <div class="page-container">
            <!-- START: SIDEBAR -->
            <div class="page-sidebar page-sidebar-fixed" ng-controller="SidebarController as vm" ng-show="globals.user">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">
                    <li class="xn-logo">
                        <a href="#/home">metricapp</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <a href="#/home" class="profile-mini">
                            <img src="dist/images/logos/logo.svg"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <a href="#/home">
                                    <img src="dist/images/logos/logo.svg"/>
                                </a>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">metricapp</div>
                                <div class="profile-data-title">ISSSR 15/16 Project</div>
                            </div>
                        </div>
                    </li>
                    <li ng-repeat="action in vm.actions track by $index">
                        <a ng-href="{{action.href}}"><span class="fa fa-{{action.icon}}"></span><span class="xn-text">{{action.name}}</span></a>
                    </li>


                    <div ng-repeat="action in vm.getActionsForRole(globals.user.role)">
                        <li>
                            <a href="{{action.href}}"><span class="fa fa-cog"></span><span class="xn-text">{{action.name}}</span></a>
                        </li>
                    </div>

                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END: SIDEBAR -->

            <!-- START: PAGE CONTENT -->
            <div class="page-content">

                <!-- START: TOPBAR -->
                <div ng-controller="TopbarController as vm" ng-show="globals.user">

                    <!-- START X-NAVIGATION VERTICAL -->
                    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">

                        <!-- START: TOGGLE -->
                        <li class="xn-icon-button">
                            <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                        </li>
                        <!-- END: TOGGLE -->

                        <!-- START: SIGN OUT -->
                        <li class="xn-icon-button pull-right">
                            <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                        </li>
                        <!-- END: SIGN OUT -->

                        <!-- START: MESSAGES -->
                        <li class="xn-icon-button pull-right" ng-controller="MessagesWidgetController as vm">
                            <a href="" ng-click="vm.removeNews()"><span class="fa fa-comments"></span></a>
                            <div class="informer informer-danger" ng-show="!vm.loading && vm.success && vm.news > 0">{{vm.news}}</div>
                            <div class="panel panel-primary animated zoomIn xn-drop-left">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-xs"
                                        ng-disabled="vm.loading || !vm.success || vm.toread == 0"
                                        ng-click="vm.setAllRead()">Mark all read</button>
                                        <span class="label label-success"
                                        ng-show="!vm.loading && vm.success && vm.toread == 0">Up to date</span>
                                        <span class="label label-danger"
                                        ng-show="!vm.loading && vm.success && vm.toread > 0">{{vm.toread}} to read</span>
                                    </div>
                                </div>
                                <div class="panel-body list-group list-group-contacts list-group-messages scroll" style="max-height: 200px" ng-switch="vm.loading">
                                    <a ng-switch-when="true" class="list-group-item list-group-item-message" href="">
                                        <span class="contacts-title">Loading  messages ...</span>
                                    </a>
                                    <div ng-switch-when="false" ng-switch="vm.success">
                                        <a ng-switch-when="true" ng-show="vm.conversations.length == 0" class="list-group-item list-group-item-message" href="">
                                            <span class="contacts-title">No conversations yet</span>
                                        </a>
                                        <a ng-switch-when="true" ng-repeat="conversation in vm.conversations | orderBy:'-ts_update' track by conversation.recipient.username"
                                        class="list-group-item list-group-item-message"
                                        ng-class="{'status-read': conversation.toread == 0,
                                        'status-unread': conversation.toread > 0}"
                                        ng-href="#/messages/{{conversation.recipient.username}}" ng-click="vm.setRead(conversation.recipient.username)">
                                            <div class="list-group-status"
                                            ng-class="{'status-online': conversation.recipient.online,
                                            'status-offline': !conversation.recipient.online}"></div>
                                            <img ng-src="{{conversation.recipient.picture}}" m-fallback-src="dist/images/users/user-picture.svg" class="pull-left" alt="{{conversation.recipient.username}}"/>
                                            <span class="contacts-title">
                                                {{conversation.recipient | userFullnameFormat}}
                                                <small>{{conversation.messages[conversation.messages.length - 1].ts_create | dateFormat:'ago'}}</small>
                                                <span class="label label-danger" ng-show="conversation.toread > 0">{{conversation.toread}}</span>
                                            </span>
                                            <p>{{conversation.messages[conversation.messages.length - 1].content | excerptFormat:(conversation.toread > 0):50:45:'No message, yet.'}}</p>
                                        </a>
                                        <a ng-switch-when="true" ng-if="vm.idx < vm.buffer.length" class="list-group-item list-group-item-message a-centered btn-load-more"
                                        ng-click="vm.loadMore()" href="">Load More</a>
                                        <a ng-switch-when="false" class="list-group-item list-group-item-message" href="">
                                            <span class="contacts-title"><strong>Ooops!</strong> Something went wrong :-( {{vm.errmsg}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-footer text-center">
                                    <a href="#/messages">Show all</a>
                                </div>
                            </div>
                        </li>
                        <!-- END: MESSAGES -->

                        <!-- START: NOTIFICATIONS -->
                        <li class="xn-icon-button pull-right" ng-controller="NotificationsWidgetController as vm">
                            <a href="" ng-click="vm.removeNews()"><span class="fa fa-globe"></span></a>
                            <div class="informer informer-danger" ng-show="!vm.loading && vm.success && vm.news > 0">{{vm.news}}</div>
                            <div class="panel panel-primary animated zoomIn xn-drop-left">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><span class="fa fa-globe"></span> Notifications</h3>
                                    <div class="pull-right">
                                        <button class="btn btn-success btn-xs"
                                        ng-disabled="vm.loading || !vm.success || vm.toread == 0"
                                        ng-click="vm.setAllRead()">Mark all read</button>
                                        <span class="label label-success"
                                        ng-show="!vm.loading && vm.success && vm.toread == 0">Up to date</span>
                                        <span class="label label-danger"
                                        ng-show="!vm.loading && vm.success && vm.toread > 0">{{vm.toread}} to read</span>
                                    </div>
                                </div>
                                <div class="panel-body list-group list-group-contacts list-group-messages scroll" style="max-height: 200px" ng-switch="vm.loading">
                                    <a ng-switch-when="true" class="list-group-item list-group-item-message" href="#">
                                        <span class="contacts-title">Loading notifications ...</span>
                                    </a>
                                    <div ng-switch-when="false" ng-switch="vm.success">
                                        <a ng-switch-when="true" ng-show="vm.notifications.length == 0" class="list-group-item list-group-item-message" href="">
                                            <span class="contacts-title">No notifications yet</span>
                                        </a>
                                        <a ng-switch-when="true" ng-repeat="notification in vm.notifications | orderBy:vm.orderBy track by notification.id"
                                        class="list-group-item list-group-item-message"
                                        ng-class="{'status-read': notification.read,
                                        'status-unread': !notification.read}"
                                        ng-href="#/{{notification.artifactScope | artifactScopeFormat}}/{{notification.artifactId}}" ng-click="vm.setRead(notification.id)">
                                            <img ng-src="{{notification.author.picture}}" m-fallback-src="dist/images/users/user-picture.svg" class="pull-left" alt="{{notification.author.username}}"/>
                                            <span class="contacts-title">
                                                {{notification.author | userFullnameFormat}}
                                                <small>{{notification.creationDate | dateFormat:'ago'}}</small>
                                                <p>{{notification.description}}</p>
                                            </span>
                                        </a>
                                        <a ng-switch-when="true" ng-if="vm.idx < vm.buffer.length" class="list-group-item list-group-item-message a-centered btn-load-more"
                                        ng-click="vm.loadMore()" href="">Load More</a>
                                        <a ng-switch-when="false" class="list-group-item list-group-item-message" href="">
                                            <span class="contacts-title"><strong>Ooops!</strong> Something went wrong :-( {{vm.errmsg}}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-footer text-center">
                                    <a href="#/notifications">Show all</a>
                                </div>
                            </div>
                        </li>
                        <!-- END: NOTIFICATIONS -->
                    </ul>
                    <!-- END: X-NAVIGATION VERTICAL -->
                </div>

                <!-- START: DIALOG LOGOUT -->
                <div id="mb-signout" class="message-box animated fadeIn" ng-controller="LogoutController as vm">
                    <div class="mb-container">
                        <div class="mb-middle">
                            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                            <div class="mb-content">
                                <p>Are you sure you want to log out?</p>
                                <p>Press No if you want to continue work. Press Yes to logout current user.</p>
                            </div>
                            <div class="mb-footer">
                                <div class="pull-right">
                                    <button class="btn btn-success btn-lg mb-control-close" value="Logout" ng-click="vm.logout()" ng-disabled="vm.loading">Yes</button>
                                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: DIALOG LOGOUT -->

                <!-- END: TOPBAR -->

                <!-- START: PAGE WRAPPER -->
                <div class="page-content-wrap">
                    <!-- START: VIEW -->
                    <div role="main" ng-view></div>
                    <!-- END: VIEW -->
                </div>
                <!-- END: PAGE WRAPPER -->
            </div>
            <!-- END: PAGE CONTENT -->
        </div>
        <!-- END: PAGE CONTAINER -->

        <!-- THEME: VENDORS SCRIPTS-->
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/jquery/jquery-ui.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/bootstrap/bootstrap.min.js"></script>

        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/icheck/icheck.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/scrolltotop/scrolltopcontrol.js"></script>
        <script type="text/javascript" src="vendors/raphael/raphael.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/morris/morris.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/rickshaw/d3.v3.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/rickshaw/rickshaw.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/bootstrap/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/moment.min.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/daterangepicker/daterangepicker.js"></script>
        <!--<script type="text/javascript" src="vendors/joli-admin/joli/js/plugins/datatables/jquery.dataTables.min.js"></script>-->

        <!-- THEME: MAIN SCRIPTS -->
        <script type="text/javascript" src="vendors/joli-admin/joli/js/plugins.js"></script>
        <script type="text/javascript" src="vendors/joli-admin/joli/js/actions.js"></script>
        <!--<script type="text/javascript" src="vendors/joli-admin/joli/js/settings.js"></script>-->

        <!-- ANGULAR SCRIPTS -->
        <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
        <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
        <script type="text/javascript" src="vendors/angular-cookies/angular-cookies.min.js"></script>
        <script type="text/javascript" src="vendors/angular-messages/angular-messages.min.js"></script>
        <script type="text/javascript" src="vendors/angular-flash-alert/dist/angular-flash.min.js"></script>
        <script type="text/javascript" src="vendors/angular-mocks/angular-mocks.js"></script>

        <!-- ANGULAR 3rd PARTY SCRIPTS -->
        <script type="text/javascript" src="vendors/ng-scroll-glue/dist/ng-scroll-glue.min.js"></script>

        <!-- ANGULAR - NvD3 Js - ChartJs - Angular Chart [Graph and Charts] -->
        <script type="text/javascript" src="vendors/d3/d3.min.js"></script>
        <script type="text/javascript" src="vendors/nvd3/build/nv.d3.min.js"></script>
        <script type='text/javascript' src='vendors/d3/d3.min.js'></script>
        <script type="text/javascript" src="vendors/angular-chart/angular-chart.min.js"></script>
        <script type="text/javascript" src="vendors/angular-nvd3/dist/angular-nvd3.min.js"></script>
        <script type="text/javascript" src="vendors/chartjs/dist/Chart.min.js"></script>
        <script type="text/javascript" src="vendors/angular-morris-chart/src/angular-morris-chart.min.js"></script>
        <script type="text/javascript" src="vendors/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
        <script type="text/javascript" src="vendors/ng-scroll-glue/dist/ng-scroll-glue.min.js"></script>

        <script type="text/javascript" src="vendors/angular-bubbletree/dist/angular-bubbletree.js"></script>

        <script type="text/javascript" src="vendors/cytoscape/dist/cytoscape.min.js"></script>
        <script type="text/javascript" src="vendors/ngCytoscape/dist/ngCytoscape.min.js"></script>

        <!-- sortable lists -->
        <script type="text/javascript" src="vendors/ng-sortable/dist/ng-sortable.min.js"></script>
        <link rel="stylesheet" type="text/css" href="vendors/ng-sortable/dist/ng-sortable.min.css">

        <!-- ui-ace -->
        <script type="text/javascript" src="vendors/ace-builds/src-min-noconflict/ace.js"></script>
        <script type="text/javascript" src="vendors/angular-ui-ace/ui-ace.js"></script>

        <!-- ui-bootstrap -->
        <script src="vendors/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

        <!-- smart-tables -->
        <script src="vendors/angular-smart-table/dist/smart-table.min.js"></script>

        <!-- APP SCRIPTS -->
        <script type="text/javascript" src="dist/scripts/app.js"></script>


        <!-- EXPORT EXCEL FILE FROM TABLE -->
        <script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>


    </body>
</html>
