<!-- COMPONENT: ERROR 404 -->
<div ng-controller="Error404Controller as vm">
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-text">page not found</div>
        <div class="error-subtext">What you are looking for <strong>is not here</strong>, sorry.</div>
        <div class="error-actions">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-info btn-block btn-lg" ng-click="vm.goHome()">Home</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-primary btn-block btn-lg" ng-click="vm.goBack()">Go back</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END COMPONENT: ERROR 404 -->
