<!-- START: HOME -->
<div ng-controller="HomeController as vm">
    <div class="page-title">
        <h2><span class="fa fa-desktop"></span> Home <small ng-show="!vm.loading && vm.success">{{vm.currUser | userFullnameFormat}}</small></h2>
    </div>
    <div class="page-content-wrap">
        <div class="row" ng-switch="vm.loading">
            <div class="col-md-12">
                <p ng-switch-when="true">Loading home ...</p>
                <div ng-switch-when="false" ng-switch="vm.success">
                    <div ng-switch-when="true" ng-switch="globals.user.role">
                        <p ng-switch-when="GQMExpert"><viewexpertdashboard></viewexpertdashboard></p>
                        <p ng-switch-when="Questioner"><questioner-dashboard></questioner-dashboard></p>
                        <p ng-switch-when="Metricator"><viewmetricatordashboard/></p>
                        <p ng-switch-default="ng-switch-default">You have no rights.</p>
                    </div>
                    <p ng-switch-when="false">Ooops! Something went wrong :-(</p>
            	</div>
        	</div>
    	</div>
	</div>
</div>
<!-- END: HOME -->
