<!-- QUESTIONER'S HOME-->
<!-- PAGE TITLE -->
<div class="page-title">
	<h2><span class="fa fa-arrow-circle-o-left"></span> Questions List</h2>
</div>
<!-- END PAGE TITLE -->

<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">

<div class="row">
<div class="col-md-12">

<div ng-controller="QuestionListCtrl as qst">

<!-- START DEFAULT DATATABLE -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Active Questions</h3>
        <ul class="panel-controls">
            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
            <li><a ng-click="qst.getMeasurementGoals()" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
        </ul>
    </div>
    <div class="panel-body">
            <table st-table="questionList" st-safe-src="qst.questions" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="id">Id</th>
                        <th st-sort="name">Name</th>
                        <th st-sort="creationDate">CreationDate</th>
                        <th st-sort="lastVersionDate">LastVersionDate</th>
                        <th st-sort="releaseNote">ReleaseNote</th>
                        <th st-sort="state">State</th>
                    </tr>
            <tr>
            <th colspan="6"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="question in questionList">
                        <td>
                        <!--#modal_large qst.setModal($parent.$index)-->
                    <button id="modal_button_{{$index}}" class="btn btn-default btn-rounded" data-toggle="modal"
                         ng-click="qst.open($index)">{{question.metadata.id}}</button>
                        </td>
                        <td>{{question.metadata.entityType}}</td>
                        <td>{{question.metadata.creationDate}}</td>
                        <td>{{question.metadata.lastVersionDate}}</td>
                        <td>{{question.metadata.releaseNote}}</td>
                        <td>{{question.metadata.state}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- END DEFAULT DATATABLE -->
</div>
</div>
</div>

</div>
<!-- PAGE CONTENT WRAPPER -->
