<!-- START: ORGANIZATION -->
<div ng-controller="OrganizationController as vm">
    <ul class="breadcrumb">
        <li><a ng-href="#/home">Home</a></li>
        <li class="active"><a ng-href="#/organization">Organization</a></li>
    </ul>
    <div class="page-title">
        <h2><span class="fa fa-book"></span> Organization <small ng-if="!vm.loading && vm.success">{{vm.buffer.length}} people</small></h2>
    </div>
    <div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="searchForm" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-search"></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Who are you looking for?"
                                        ng-model="vm.query"
                                        ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"
                                            ng-disabled="!vm.query || vm.loading"
                                            ng-click="vm.search(vm.query)">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-switch="vm.loading">
            <div ng-switch-when="true" class="col-md-12">
                <p>Loading contacts ...</p>
            </div>
            <div ng-switch-when="false" ng-switch="vm.success">
                <div ng-switch-when="true" ng-if="vm.numusers == 0" class="col-md-12">
                    <p>No contacts yet</p>
                </div>
                <div ng-switch-when="true">
                    <div class="col-md-3" ng-repeat="user in vm.users | userSearch:vm.query | orderBy:vm.orderBy track by user.username">
                        <div class="panel panel-default">
                            <div class="panel-body profile">
                                <div class="profile-image">
                                    <img ng-src="{{user.pic}}" m-fallback-src="dist/images/users/user-picture.svg" alt="{{user.username}}"/>
                                </div>
                                <div class="profile-data">
                                    <div class="profile-data-name">{{user | userFullnameFormat}}</div>
                                    <div class="profile-data-title">{{user.role}}</div>
                                </div>
                                <div class="profile-controls">
                                    <a ng-href="#/profile/{{user.username}}" class="profile-control-left"><span class="fa fa-info"></span></a>
                                    <a ng-href="#/messages/{{user.username}}" class="profile-control-right"><span class="fa fa-comment"></span></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="contact-info">
                                    <p><small>Mobile</small><br/>{{user.mobile}}</p>
                                    <p><small>Email</small><br/>{{user.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-centered">
                            <button type="button" class="btn btn-default" ng-show="vm.idx < vm.buffer.length" ng-click="vm.loadMore()">Load More</button>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="false" class="col-md-12">
                    <p>Ooops! Something went wrong :-( {{vm.errmsg}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: ORGANIZATION -->
