<label class="form-group-helper-message error" ng-message="required">This field is required</label>
<label class="form-group-helper-message error" ng-message="minlength">This field is too short</label>
<label class="form-group-helper-message error" ng-message="maxlength">This field is too long</label>
<label class="form-group-helper-message error" ng-message="min">This field is too low</label>
<label class="form-group-helper-message error" ng-message="max">This field is too high</label>
<label class="form-group-helper-message error" ng-message="email">This field should be a valid email</label>
<label class="form-group-helper-message error" ng-message="date">This field should be a valid date</label>
<label class="form-group-helper-message error" ng-message="url">This field should be a valid url</label>
<label class="form-group-helper-message error" ng-message="unique">This field needs to be unique</label>
<label class="form-group-helper-message error" ng-message="match">This field must match another</label>
